#header {
	margin-top: 10px;
	background-color: #2E1F27;
	height: 175px;
}

#headercontainer {
	width: 2000px;
	margin: auto;
}

#header h1 {
	color: #FDFDFF;
	height: 200px;
	margin: auto;
	text-align: center;
	padding: 20px;
	font-size: 72px;
}

#heading {
	width: 400px;
	height: 30px;
	margin:auto;
	margin-top: -120px;
}

#heading h4 {
	border-top: 2px solid #fdfdff;
	color: #fdfdff;
	margin: auto;
	text-align: center;
	padding: 5px;
}