body {
	background-color: #FFFAD7;
}

#maincontainer {
	width: 900px;
	height: 720px;
	margin: auto;
	overflow: auto;
	background-color: #FFFAD7;
}

#maincontent {
	margin-top: 10px;
	width: 500px;
	float: left;
	background-color: #FFFAD7;
}

#maincontent p {
	text-align: center;
}

#homepageblog {
	border: 3px solid black;
	width: 506px;
	height: 300px;
	float: left;
	margin-top: 20px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-m-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}

.blogsnippet {
	border: 3px solid black;
	height: 80px;
	width: 480px;
	margin: 10px 0 10px 10px;
	line-height: 50%;
	overflow: hidden;
	font-size: 13px;
}

.blogsnippet h2 {
	margin: 12px;
	font-size: 20px;
}

.blogsnippet h4{
	margin: 0 0 5px 15px;
	font-size: 15px;
}

.blogsnippet p {
	margin: 5px 0 0 15px;
	font-size: 15px;
	text-overflow: ellipsis;
	line-height: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.blogsnippet a {
	margin: 10px 0 0 15px;
	text-decoration: none;
}
.blogsnippet#top {
	-webkit-border-radius: 25px 25px 0 0;
	-moz-border-radius: 25px 25px 0 0;
	-m-border-radius: 25px 25px 0 0;
	-o-border-radius: 25px 25px 0 0;
	border-radius: 25px 25px 0 0;
}

#mainimages {
	border: 3px solid black;	
	width: 290px;
	height: 560px;
	float: right;
	margin-top: 109px;
	background-color: #FFFAD7;
	margin-right: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-m-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}

#mainimages img {	
	width: 250px;
	height: 250px;
	margin: auto;
	display: block;
	padding: 10px;
}

#mainimages img:first-child {
	-webkit-border-radius: 35px 35px 0 0;
	-moz-border-radius: 35px 35px 0 0;
	-m-border-radius: 35px 35px 0 0;
	-o-border-radius: 35px 35px 0 0;
	border-radius: 35px 35px 0 0;
	margin-top: 10px;
}

#mainimages img:last-child {
	-webkit-border-radius: 0 0 35px 35px;
	-moz-border-radius: 0 0 35px 35px;
	-m-border-radius: 0 0 35px 35px;
	-o-border-radius: 0 0 35px 35px;
	border-radius: 0 0 35px 35px;
}

#maintext {
	border: 3px solid black;
	width: 500px;
	height: 243px;
	margin: auto;
	background-color: #FFFAD7;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-m-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}

#maincontent h3 {
	font-size: 30px;
	text-align: center;
	background-color: #FFFAD7;
	color: #393D3F;
}

#maintext p {
	color: #393D3F;
	text-align: left;
	padding: 5px;
}

#aboutmeimgs {
	border: 3px solid black;
	width: 500px;
	height: 220px;
	margin-top: 38px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-m-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}

#aboutmeimgs img {
	width: 200px;
	height: 200px;
	padding: 10px;
	margin-left: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-m-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}

#aboutmemaintext {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: auto;
	background-color: #FFFAD7;
	overflow: scroll;
	overflow-x: hidden;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-m-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}

#aboutmemaintext p {
	text-align:left;
	padding: 5px;
}

#maintextcontainer {
	border: 3px solid black;
	width: 350px;
	height: 306px;
	float: right;
	margin-top: 106px;
	background-color: #FFFAD7;
	overflow: scroll;
	overflow-x: hidden;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-m-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}

#maintextcontainer p {
	text-align: left;
	padding: 5px;
}

#imageright {
	border: 3px solid black;
	width: 300px;
	height: 200px;
	margin: auto;
	float: right;
	margin-top: 38px;
	margin-right: 20px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-m-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}

#imageright img {
	width: 300px;
	height: 200px;
}

#container {
	width: 900px;
	height: 1000px;
	margin: auto;
	overflow: auto;
}

#piccontainer {
	width: 300px;
	height: 1000px;
	float: left;
}

.pictures {
	border: 3px solid black;
	background-color: #393D3F;
	width: 200px;
	height: 200px;
	margin: auto;
	margin-top: 40px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-m-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}

.pictures p {
	font-size: 50px;
	color: #FDFDFF;
	padding: 20px;
	font-weight: bold;
}

#portfoliocontent {
	width: 550px;
	height: 1000px;
	float: right;
}

.portfoliotext {
	border: 3px solid black;
	background-color: #FFFAD7;
	width: 500px;
	height: 200px;
	margin: auto;
	margin-top: 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-m-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

.portfoliotext p {
	text-align: center;
	color: #393D3F;
}

#contactpagecontainer {
	width: 900px;
	height: 600px;
	margin: auto;
	overflow: auto;
}

#contactcontainer {
	width: 500px;
	height: 500px;
	margin: auto;
	margin-top: 50px;
	float: left;
}

#contactcontainer h3 {
	font-size: 30px;
	text-align: center;
	background-color: #FFFAD7;
	color: #393D3F;
	text-decoration: underline;
}

#contacttext {
	border: 3px solid black;
	height: 400px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-m-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}

#contacttext a {
	color: #393d3f;
}

#contacttext p {
	color: #393D3F;
	font-size: 18px;
	margin-left: 5px;
	padding: 5px;
}

#contactpagemap {
	width: 350px;
	margin: auto;
	float: right;
	margin-top: 195px;
}

#contactpagemap iframe {
	border: 3px solid #393D3F;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-m-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.bloglistpictures {
	border: 3px solid black;
	background-color: #393D3F;
	width: 200px;
	height: 200px;
	margin: auto;
	margin-top: 40px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-m-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 40px;
}

.bloglistpictures p {
	font-size: 50px;
	color: #FDFDFF;
	padding: 20px;
	font-weight: bold;
}

#pblogcontent {
	width: 550px;
	height: 1000px;
	float: right;
}

.blogtext {
	border: 3px solid black;
	background-color: #FFFAD7;
	width: 500px;
	height: 200px;
	float: right;
	margin: auto;
	margin-top: 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-m-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

.blogtext h2 {
	margin: 15px;
	line-height: 50%;

}

.blogtext h4 {
	margin: 0 0 0 15px;
	line-height: 120%;
	color: #393D3F;
	font-weight: bold;
}
.blogtext p {
	margin: 0 0 0 15px;
	line-height: 120%;
	color: #393D3F;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blogtext a {
	margin: 0 0 0 15px;
	text-decoration: none;
}

#articlecontainer {
	width: 900px;
	height: 882px;
	margin: auto;
	overflow: auto;
}

#articlepageimg {
	border: 3px solid black;
	width: 200px;
	height: 200px;
	margin: auto;
	margin-top: 20px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-m-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}

#articlepageimg img{
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-m-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}

#articlepagecontent {
	border: 3px solid black;
	width: 894px;
	height: 600px;
	margin: auto;
	margin-top: 20px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-m-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}

#articlepagecontent h3 {
	margin: 0 0 0 15px;
}

#articlepagecontent p {
	margin: 15px 15px 0 15px;
}

#backbutton {
	width: 100px;
	height: 100px;
	margin: auto;
}

#backbutton a {
	border: 3px solid black;
	height: 25px;
	width: 80px;
	margin: auto;
	padding: 10px;
	color: #FDFDFF;
	background-color: #2c8c99;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
}

#backbutton a:hover {
	background-color: #2e1f27;
}